@page "/"
@inject HttpClient Http
@inject IStateRepository StateRepo

<PageTitle>Covid cases by state</PageTitle>

<h1>Covid cases by state</h1>

@if (States == null )
{
    <p><em>Loading...</em></p>
}
else
{
    <FilterBar States="StatesUnsorted" StateChangeCallback="HandleStateChange"></FilterBar>
    <Covid States="States"></Covid>;
}

@code {
    private List<StateModel> States = new List<StateModel>();
    private IEnumerable<StateModel> StatesUnsorted = new List<StateModel>();

    protected override async Task OnInitializedAsync()
    {
        StatesUnsorted = await StateRepo.GetAll();
        States = new List<StateModel>(StatesUnsorted);
        States.Sort();
    }

    private async void HandleStateChange(StateModelSpec spec)
    {
        IEnumerable<StateModel> newData = await StateRepo.Get(spec);
        States = new List<StateModel>(newData);
        States.Sort();
        StateHasChanged();
    }
}